---
permalink: /gallery-data.json
eleventyExcludeFromCollections: true
---
{%- set galleryItems = [] -%}
{%- for item in collections.gallery -%}
  {%- set galleryItems = galleryItems.concat([{
    "data": {
      "title": item.data.title,
      "tipo": item.data.tipo,
      "image": item.data.image,
      "video": item.data.video,
      "link_esterno": item.data.link_esterno,
      "description": item.data.description,
      "category": item.data.category,
      "evidenza": item.data.evidenza,
      "date": item.data.date
    },
    "url": item.url
  }]) -%}
{%- endfor -%}
{{ galleryItems | dump | safe }}
